/* Style the header with a grey background and some padding */
.header{
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-header{
    justify-content: center;

}

.btn-menu{
    width: 2.5em;
    padding-right: 1em;
}

.btn-return{
    padding-left: 1em;
}


.user-data-section{
    font-size: 1em;
    background-color: #E5E5E5;
    padding: 1.2em 2em;
}

.user-data-section .unidad-info{
    font-size: .7em;
    letter-spacing: .1em;
    font-weight: lighter;
}

.user-data-section .unidad-info b{
    font-weight: bold;
}

.seleccion{
    font-size: .9em;
    font-weight: normal;
    padding: 0 1.5em;
    border-bottom: 1px solid rgba(164, 164, 164, 0.55);
}

.seleccion .pregunta{
    padding: 2em 0;
}

.form .input-radio-seleccion{
    display: flex;
  justify-content: space-between;

}

.seleccion form p{
    justify-content: center;
    padding: 1em 0;
}

.btn-menu svg{
    fill: white;
}