/* Style the header with a grey background and some padding */
/* body{
    min-height: auto;
} */

.container{
    position: relative;
}

.header{
    background: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    top:0;
    z-index: 2;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 15%;
}

.logo-header{
    justify-content: center;
}

.btn-menu{
    width: 2.5em;
    padding-right: 1em;
    
}

.btn-menu svg{
    fill: white;
}

.btn-return{
    padding-left: 1em;
    width: 2.2em;
    height: 2.2em;
}

/* BODY */

/* Data user info */
.section-2{
    margin-top: auto;
    position: sticky;
    top: 7.5%;
    z-index: 1;
    width: 100%;

}
.user-data-section{
    font-size: 1em;
    background-color: #E5E5E5;
    padding: 1.2em 2em;
    width: 100%;
    top: 7.5%;
    position: sticky;
    
    
}

.user-data-section .unidad-info{
    font-size: .7em;
    letter-spacing: .1em;
    font-weight: lighter;
}

.user-data-section .bienvenida{
    font-weight: 500;
}

.user-data-section .unidad-info b{
    font-weight: bold;
}

/* Content */

.content{
    background-color: white;
    width: 100%;
    margin-top: 5em;
    height: 100%;
}

.search{
    width: 100%;
    height: 6em;
}

.input-wrapper {
    position: relative;
    width: 90%;
    top: 25%;
    left: 5%;

  }
  
  .input {
    box-sizing: border-box;
    color: #191919;
    padding: 10px 20px 10px 40px;
    background-color: #E5E5E5;
    width: 100%;
    border-radius: 10px;
  }

  .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

.suggestions{
    /* background-color: blue; */
    margin-top: 2em;
    width: 100%;
    height: 20%;
}
.suggestions .suggestions__div{
    position: relative;
    width: 90%;
    top: 10%;
    left: 5%;
}
.suggestions .suggestions__div h2{
    font-size: 1.5em;
}

.categories{
    /* background-color: red;  */
    margin-top: 5em;
    width: 100%;
    height: 20%;
}
.categories .categories__div{
    position: relative;
    width: 90%;
    top: 10%;
    left: 5%;
}
.categories .categories__div h2{
    font-size: 1.5em;
}

.menu{
    margin-top: 5em;
    position: relative;
    width: 90%;
    top: 5%;
    left: 5%;
}
.menu h2{
    font-size: 1.5em;
}
.menu .menu__eleccion{
    display: flex;
    justify-content: space-evenly;
}
.menu .menu__eleccion .menu__btn:focus{
    transition: all 0.2s ease-out;
    border-bottom: 5px solid orange;
    color: orange;
}
.items{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #666;
  }
.comida{
      display: grid;
      grid-template-columns: repeat(aut-fit,auto);
      gap: .5rem;
  }
.items:nth-child(1){
    background: rgb(46, 224, 40);
    grid-column: span 2;
}
.items:nth-child(12){
    background: rgb(46, 224, 40);;
    grid-column: span 2;
}

@media (min-width: 700px) {
    .section-2{
        margin-top: 1%;
        font-size: 1.7rem;
    }
    .seleccion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 50%;
    }
    .btn-return{
        margin-top: 0.5em;
        width: 2.6em;
        height: 2.6em;
    }
  }
